@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242333;
  color: #fff;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.movie-container {
  margin: 20px 0;
}
.movie-container select {
  margin-left: 12px;
  border: none;
  padding: 4px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  appearance: none;
  font-size: 14px;
  text-transform: capitalize;
}
.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 12px;
  font-weight: 400;
  font-style: italic;
}
.container {
  margin-bottom: 30px;
  perspective: 1000px;
}
.seat {
  width: 12px;
  height: 12px;
  background-color: rgb(223, 193, 182);
  margin: 4px 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.seat.selected {
  background-color: orangered;
}
.seat.occupied {
  background-color: rgb(254, 255, 254);
}
.row {
  display: flex;
  justify-content: center;
}
.seat:nth-of-type(2) {
  margin-right: 20px;
}
.seat:nth-last-of-type(2) {
  margin-left: 20px;
}
.seat:not(.occupied):hover {
  transform: scale(1.5);
  cursor: pointer;
}
.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: none;
}
.movie-screen {
  width: 100%;
  /* margin: 0 auto; */
  height: 70px;
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  transform: rotateX(-45deg);
}

.text {
  font-size: 16px;
  margin: 5px 0;
}
.text span {
  color: rgb(97, 194, 233);
  margin: 2px;
}
